/* ---------------------------------------------------------------------------- Sub menu */
#submenu {
    font-size: 90%;
    float:right;
}

#submenu a.link-submenu, span.selectedTag {
    color: black;
    padding: 0.25em 0.5em;
    background: #ddd;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
}
#submenu a.link-submenu:hover {
    background: #205c90;
    color: white !important;
    border-color: #205c90;
}

#submenu a.link-submenu.selected {
    background: #ffffff;
    color: black !important;
    border-color: #ddd !important;
    border-style: solid !important;
    border-radius: 0.5em;
    border-width: 1px !important;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
}

#submenu .separator {
    display: none;
}




/* ---------------------------------------------------------------------------- Butons Dashboard (Accions) */

.menuButtons {
    width: 110px;
    margin: 0.2em 0.2em;
    border-radius:0.3em;
    -webkit-radius:0.3em;
    -moz-border-radius:0.3em;
    background-color:#D3E3C3;
    float: left;
    padding: 0.5em;
    vertical-align: middle;
}

.menuButtons a {
    font-family:Arial; font-size:11px; color:#339933 !important;
}

.menuButtonsSelected {
    width: 110px;
    margin: 0.2em 0.2em;
    border-radius:0.3em;
    -webkit-radius:0.3em;
    -moz-border-radius:0.3em;
    background-color:#B3D396;
    float: left;
    padding: 0.5em;
    vertical-align: middle;
}
.menuButtonsSelected a {
    font-family:Arial; font-size:11px; color:#339933 !important;
}



.template-my-playlists .actionButtons,
.template-manage-groups .actionButtons,
.template-my-activity .actionButtons {
    float:right;
    margin-right: 3px;
    padding-right:20px;
    padding-left: 5px;
    background:url('++resource++fatac.theme.images/ico_ampliar.png')  no-repeat right center #D3E3C3;
    border-radius: 0.2em;
    border-width: 1px !important;
    color:#339933 !important;
}
.actionButtonsSimple {
    float:right;
    margin-right: 3px;
    padding: 0px 5px;
    padding-left: 5px;
    border-radius: 0.2em;
    border-width: 1px !important;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    color:#339933 !important;
    background-color:#D3E3C3;
}


/* ---------------------------------------------------------------------------- Portlets */
dl.portletFatac { margin-bottom:0; margin-left:15px; }
dl.portletFatac dt {
    margin:0 !important;
    min-width: 100%;
    width: auto;
    border-radius:0.3em;
    -webkit-radius:0.3em;
    -moz-border-radius:0.3em;
    padding:5px;
    background-color:#D3E3C3;
}
dl.portletFatac dt a {
    font-family:Arial; font-size:11px; color:#339933 !important;
}
dl.portletFatac dd {
    right:-2px;
    margin:0 !important;
    border-radius:0 0 0.3em 0.3em;
    -webkit-radius:0 0 0.3em 0.3em;
    -moz-border-radius:0 0 0.3em 0.3em;
    padding:0;
    border-top:0;
}


dl.portletRecent { margin-bottom:0; margin-left:15px; }
dl.portletRecent dt {
    margin:0 !important;
    min-width: 100%;
    width: auto;
    border-radius:0.3em;
    -webkit-radius:0.3em;
    -moz-border-radius:0.3em;
    padding:5px;
    background-color:#D3E3C3;
    font-family:Arial; font-size:11px; color:#339933 !important;
}
dl.portletRecent dt a {
    font-family:Arial; font-size:11px; color:#339933 !important;
}
dl.portletRecent dd {
    right:-2px;
    margin:0 !important;
    border-radius:0 0 0.3em 0.3em;
    -webkit-radius:0 0 0.3em 0.3em;
    -moz-border-radius:0 0 0.3em 0.3em;
    padding:0;
    border-top:0;
    font-size: 80%;
}

dd.portletFooter {
    font-size: 80%;
}


/* ---------------------------------------------------------------------------- Generic View */
.genericview_my_dades {
    padding: 0.5em;
    margin:1%;
    background-color:#D3E3C3;
    border: 2px #D3E3C3 solid;
    border-radius: 0.4em;
}
.genericview_my_dades:hover {
    border: 2px #339933 solid;
}

a .genericview_my_dades .playlistTitle {
    font-family:Arial;
    font-weight:bold !important;
    color:#399B37 !important;
    font-style:italic;
}

a .genericview_my_dades {
    font-family:Arial;
    font-weight:normal; !important;
    color: black !important;
}

.activityDiscreet {
    color: #339933;
    font-size: 85%;
    font-weight: normal;
}


/* ---------------------------------------------------------------------------- Generic View */
table.dashboardListing {
    font-family:Arial;
    font-size:13px;
    color:#339933 !important;
}

table.dashboardListing th {
    text-align: left;
    border: 0.1em solid #e7e7e7;
    border-style: none none solid;
    padding: 0.5em;
}

table.dashboardListing td {
    text-align: left;
    padding: 0.5em;
}

table.dashboardListing a {
    font-family:Arial;
    font-size:11px;
    color:#339933 !important;
}


/* ---------------------------------------------------------------------------- Fonts */
.arial11c339933upp {
    font-family:Arial;
    font-size:13px;
    color:#339933 !important;
    font-weight:bold;
    text-transform: uppercase;
}

.georgia20c333333Ital { font-family:georgia; font-size:20px; color:#000000 !important; font-style:italic; }
.georgia13c333333Ital { font-family:georgia; font-size:13px; color:#333333 !important; font-style:italic;}

.div_dotted_line_left {
    float:left;
    width:100%;
    clear:both;
    border-left:1px dotted #888888;
    padding-left:8px;
    margin-left:8px;
}
